Makefile
MYMETA.*
_Inline/
auto/
blib/
bugs.ini
cover_db/
evidences/
lib/Cv/Constant.pm
lib/Cv/perl.h
lib/Cv/pp.h
lib/Cv/sv.h
lib/Cv/typemap
pm_to_blib
sample/*png
t/flipbook
t/ref*.pm
*.TRY
*.a
*.bak
*.bs
*.c
*.o
*.old
*.orig
*.rej
*.skip
*.tmp
*~
.bugs.*
